@tailwind base;
@tailwind components;
@tailwind utilities;

@import './custom-antd-notification.css';
@import './custom-antd-modal.css';
@import './custom-antd-form.css';
@import './custom-antd-switch.css';

@layer base {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

@layer components {
  .product-detail-section {
    @apply space-y-4 p-4;
  }

  .ui-product-banner .swiper-pagination {
    @apply text-white bg-black/50 w-fit px-3 py-[6px] ring-2 ring-white ring-inset rounded-md text-xs right-4 left-auto bottom-4 top-auto -translate-y-12;
  }

  .editor-content ul {
    list-style-type: disc; /* Untuk unordered list */
    padding-left: 1.5rem; /* Spasi kiri */
  }

  .editor-content ol {
    list-style-type: decimal; /* Untuk ordered list */
    padding-left: 1.5rem;
  }

  .editor-content b,
  .editor-content strong {
    font-weight: bold; /* Pastikan bold diterapkan */
  }

  .editor-content i,
  .editor-content em {
    font-style: italic; /* Pastikan italic diterapkan */
  }

  .editor-content u {
    text-decoration: underline; /* Pastikan underline diterapkan */
  }
}
